//*****************************************************************************
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
// AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
// ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
// LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
// CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
// SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
// INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
// CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
// ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
// POSSIBILITY OF SUCH DAMAGE.
//*****************************************************************************

{% for r in block.registers() %}
    {# Interrupt register have 5 additional mirror registers with suffix #}
    {% if r.type == 'INTERRUPT' %}
        {% set suffix = ['', '_TRAP', '_MASK', '_FORCE', '_DBG', '_TRIG'] %}
    {% else %}
        {% set suffix = [''] %}
    {% endif %}
    {# #}
    {% for s in suffix %}
        {% set i = loop.index0 %}
        {% for f in r.fields() %}
/* Type = {{f.access}} */
#define {{f.identifier.upper() + s}}_ADDR {{'0x%x' % (f.parent.address_offset + i)}} /* {{f.parent.address_offset + i}} */
#define {{f.identifier.upper() + s}}_MASK {{'0x%x' % f.bit_mask}} /* {{f.bit_mask}} */
#define {{f.identifier.upper() + s}}_OFFSET {{'0x%x' % f.bit_offset}} /* {{f.bit_offset}} */
#define {{f.identifier.upper() + s}}_WIDTH {{'0x%x' % f.bit_width}} /* {{f.bit_width}} */
#define {{f.identifier.upper() + s}}_DEFAULT {{'0x%x' % f.reset}} /* {{f.reset}} */

        {% endfor %}
    {% endfor %}
{% endfor %}
