Register Block Information
==========================

Block
-----

EID          : {{ block.id }}
Identifier   : {{ block.identifier }}
Name         : {{ block.name }}
Description  : {{ block.description }}
Data width   : {{ block.data_width }}
Address width: {{ block.address_width }}
Address gap  : {{ block.address_gap }}
Base Address : 0x{{ '%x' % block.base_address }}
Has IRQ      : {{ block.has_irq }}

{% for port in block.irq_ports() %}
IRQ Port
--------

EID       : {{ port.id }}
Identifier: {{ port.identifier }}
Bit width : {{ port.bit_width }}
Direction : {{ port.direction }}

{% endfor %}
{% for port in block.ports() %}
Port
----

EID       : {{ port.id }}
Identifier: {{ port.identifier }}
Bit width : {{ port.bit_width }}
Direction : {{ port.direction }}

{% endfor %}
{% for reg in block.registers() %}
Register
--------

EID           : {{ reg.id }}
Identifier    : {{ reg.identifier }}
Name          : {{ reg.name }}
Description   : {{ reg.description }}
Type          : {{ reg.type }}
Address offset: {{ reg.address_offset }}
Address size  : {{ reg.address_size }}
content       : {{ reg.content[0].parent }}

{% endfor %}
