Register Block Information
==========================

Block
-----

ID           : {{ block.id }}
Full ID      : {{ block.full_id }}
Identifier   : {{ block.identifier }}
Name         : {{ block.name }}
Description  : {{ block.description }}
Data width   : {{ block.data_width }}
Address width: {{ block.address_width }}
Address gap  : {{ block.address_gap }}
Base Address : 0x{{ '%x' % block.base_address }}
Has IRQ      : {{ block.has_irq }}

{% for port in block.irq_ports() %}
IRQ Port
--------

ID        : {{ port.id }}
Full ID   : {{ port.full_id }}
Identifier: {{ port.identifier }}
Bit width : {{ port.bit_width }}
Direction : {{ port.direction }}

{% endfor %}
{% for port in block.ports() %}
Port
----

ID        : {{ port.id }}
Full ID   : {{ port.full_id }}
Identifier: {{ port.identifier }}
Bit width : {{ port.bit_width }}
Direction : {{ port.direction }}

{% endfor %}
{% for reg in block.registers() %}
Register
--------

ID            : {{ reg.id }}
Full ID       : {{ reg.full_id }}
Identifier    : {{ reg.identifier }}
Name          : {{ reg.name }}
Description   : {{ reg.description }}
Type          : {{ reg.type }}
Address offset: {{ reg.address_offset }}
Address size  : {{ reg.address_size }}
Has IRQ       : {{ reg.has_irq }}

{% endfor %}
{% for field in block.fields() %}
Field
-----

ID         : {{ field.id }}
Full ID    : {{ field.full_id }}
Identifier : {{ field.identifier }}
Description: {{ field.description }}
Access     : {{ field.access }}
Bit offset : {{ field.bit_offset }}
Bit width  : {{ field.bit_width }}

{% endfor %}
