Block
=====

ID: {{ block.identifier }}
Name: {{ block.name }}
Description: {{ block.description }}
Data width: {{ block.data_width }}
Address width: {{ block.address_width }}
{% if block.data_width == 32 -%}
Base Address: 0x{{ '%08x' % block.base_address }}
{% else -%}
Base Address: 0x{{ '%016x' % block.base_address }}
{%- endif %}

Register Address Map
--------------------

+----------------+----------------------+----------------------+
| Address Offset | ID                   | Name                 |
+================+======================+======================+
{% for reg in block.registers %}
| {{ '%14s' | format(reg.address_offset) }} | {{ '%20s' | format(reg.identifier) }} | {{ '%20s' | format(reg.name) }} |
+----------------+----------------------+------------------------+
{% endfor %}

Register Details
----------------
